{% extends "base.html" %}
{% block content %}
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Shell Command</th>
      <th>Start</th>
      <th>End</th>
      <th>Return Code</th>
      <th>More &#187;</th>
    </tr>
  </thead>
  <tbody>
{% for job in jobs %}
    <tr>
      <td>{{ job.id }}</td>
      <td>{{ job.cmd_shell }}</td>
      <td>{{ job.start }}</td>
      <td>{{ job.end }}</td>
      <td>{{ job.rc }}</td>
      <td>
        <a href = '/detail/{{ job.id }}'>detail</a>
        {% if job.rc %}
        <a href = '/retry/{{ job.id }}'>retry</a>
        {% endif %}
      </td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}
