{% extends "base.html" %}
{% block content %}
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Shell Command</th>
      <th>Job Date Created</th>
      <th>Job Date Done</th>
      <th>Return Code</th>
    </tr>
  </thead>
  <tbody>
{% for job in jobs %}
    <tr>
      <td>{{ job.id }}</td>
      <td>{{ job.cmd_shell }}</td>
      <td>{{ job.date_created }}</td>
      <td>{{ job.date_done }}</td>
      <td>{{ job.rc }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}
