{% extends "base.html" %}
{% block content %}
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Shell Command</th>
      <th>Start</th>
      <th>End</th>
      <th>Return Code</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
{% for job in jobs %}
    <tr>
      <td>{{ job.id }}</td>
      <td>{{ job.cmd_shell }}</td>
      <td>{{ job.start }}</td>
      <td>{{ job.end }}</td>
      <td>{{ job.rc }}</td>
      <td>retry</td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}
